[Desktop Entry]
Type=Application
Name=Barry Launcher
Comment=The AYN Thor bottom screen's home screen, apps and keyboard
Exec=/usr/lib/barry_launcher/barry_launcher_desktop
Icon=input-touchpad
Categories=Utility;
OnlyShowIn=KDE;
